In [42]:
import numpy as np
import pandas as pd

In [43]:
import requests
import json

# Crawling 크롤링

xml을 받아쓴다. rss

In [5]:
from bs4 import BeautifulSoup
import requests

In [2]:

html_doc = """<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
"""

soup = BeautifulSoup(html_doc, 'html.parser') #객체로 변환

print(soup.prettify())

#soup.태그[속성명] ex.soup.p['title']

<html>
 <head>
  <title>
   The Dormouse's story
  </title>
 </head>
 <body>
  <p class="title">
   <b>
    The Dormouse's story
   </b>
  </p>
  <p class="story">
   Once upon a time there were three little sisters; and their names were
   <a class="sister" href="http://example.com/elsie" id="link1">
    Elsie
   </a>
   ,
   <a class="sister" href="http://example.com/lacie" id="link2">
    Lacie
   </a>
   and
   <a class="sister" href="http://example.com/tillie" id="link3">
    Tillie
   </a>
   ;
and they lived at the bottom of a well.
  </p>
  <p class="story">
   ...
  </p>
 </body>
</html>

In [4]:
for link in soup.find_all('a'):
    print(link.get('href')) #a로 시작하는 곳의 href 가져와
    print(link.text) #a로 시작하는 것의 text 가져와
# http://example.com/elsie
# http://example.com/lacie
# http://example.com/tillie

http://example.com/elsie
Elsie
http://example.com/lacie
Lacie
http://example.com/tillie
Tillie

<pre>
* parser 종류

<b>"html.parser"</b> 거의 이거만 쓴다
"xml"
"lxml"
"html5lib"

</pre>

## YTN 크롤링

In [9]:
res = requests.get('https://www.ytn.co.kr/news/list.php?mcd=0102')
res.status_code

res.text[:500] #html 소스가 온다.

'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\r\n<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">\r\n<head>\r\n<title>경제 목록</title>\r\n<link rel="shortcut icon" href="/img/comm/favicon.ico" type="image/x-icon">\r\n<link rel="icon" href="/img/comm/favicon.ico" type="image/x-icon">\r\n<meta http-equiv="X-UA-Compatible" content="IE=edge" />\r\n<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>\r\n<meta n'

In [11]:
soup = BeautifulSoup(res.text, 'html.parser') #res.text를 객체로

In [18]:
aaul = soup.select('div#nav_content > div:nth-child(1) > ul > li') #반복되어진다. (nth-child(1) : ~번째)는 루프 도니까 지운다.
                                                                    #li가 여러개 들어오고, 루프 돌면서 여러번의 li를 뽑는다.

# for 태그명(class) in 뽑아온 데이터
for aali in aaul :
    title = aali.select_one(' a > div > span').text #제목 뽑아옴
    print(title)

코스피, 기준금리 동결에 0.9% 올라 2,430대 마감
올리브영, 16일 고객 정보 노출 사고..."시스템 오류"
구현모 KT 대표, 연임 도전 포기...다음 달 임기 마무리
최태원, '엑스포 유치' 대통령 특사로 유럽 방문
김병준 전경련 직무대행 취임..."정경유착 끊을 것"
국토부 "월례비, 정상적 임금으로 보기 어렵다"...법원 판결 반박
급매 거래 늘자 서울 아파트값 2주 연속 낙폭 둔화
올해 수출 목표치 890조 원..."범정부 역량 결집"
[더뉴스] 올해 금융 트렌드는?..."티끌 모아 스몰 럭셔리"
물가 고공행진에 가계 실질소득 2분기 연속 감소
한국은행, 이번엔 기준금리 '동결'...경기 침체 반영
'위니아 05년 9월 이전 김치냉장고' 또 화재주의보
금감원장 "은행권 취약차주 부담 완화 적극 노력해야"
"인구 감소는 곧 재정위기...저출생 악순환 우려"
이창용 "불확실성 감안해 동결...인상 기조 끝난 것 아냐"
편법 증여 등 불법 의심 '아파트 직거래' 무더기 적발
물가 고공행진에 가계 실질소득 2분기 연속 감소
공정위, '로톡 이용 금지' 변협에 시정명령·과징금
고물가 탓 가계 실질소득 2분기 연속 감소
지난해 4분기 '연료비·이자 비용' 증가율 역대 최고
한국은행, 이번엔 기준금리 '동결'...경기 침체 반영
한국은행, 기준금리 현 3.5%로 동결..."상황 점검하며 추가 인상 판단"
한은, 올해 경제 성장률 전망치 1.7% → 1.6% 하향
[뉴스라이브] 한국은행 금통위 기준금리 동결...배경과 전망은?
편법 증여 등 불법 의심 '아파트 직거래' 276건 적발
[현장영상+] 기준금리 연 3.5% 동결... "물가가 안정되도록 통화정책 운용할 것"
'툭하면 불' 위니아 노후 김치냉장고 안전주의보 발령
한은, 올해 경제 성장률 전망치 1.7% → 1.6% 하향
한국은행, 이번엔 기준금리 '동결'...경기 침체 반영

In [ ]:




for  in soup.find_all('a'):
    print(link.get('href')

In [37]:
aaul = soup.select('div#nav_content > div:nth-child(1) > ul > li') #반복되어진다.

# for 태그명(class) in 뽑아온 데이터
for aali in aaul :
    title = aali.select_one('a > div > span').text #제목 뽑아옴 셀렉트와 겹치는 부분 지우고 남긴다.
    regdate = aali.select_one('a > div > div > span.date').text
    contents = aali.select_one('a > div > div > span.desc').text
    href = aali.select_one('a').get('href')
    print(title,regdate,contents,href)

코스피, 기준금리 동결에 0.9% 올라 2,430대 마감 2023-02-23 15:45 한국은행이 기준금리를 동결하자 국내 주식시장의 주가가 큰 폭으로 상승했습니다.

오늘 코스피는 어제보다 0.89% 상승한 2,439.09에 거래를 마쳤습니다.

코스피는 기준금리 동결 결정이 내려지자 상승 폭을 키우면서 장중 2,440대로 올라서기도 했습... https://www.ytn.co.kr/_ln/0102_202302231545162091
올리브영, 16일 고객 정보 노출 사고..."시스템 오류" 2023-02-23 15:44 CJ올리브영 시스템 변경 작업 오류로 일부 고객 정보가 노출되는 사고가 발생했습니다.

올리브영은 오늘(23일) 홈페이지에 사과문을 올려 지난 16일 공식 온라인 몰에서 시스템 변경 작업 오류로 일부 고객의 이름과 주소 등 개인 정보가 노출되는 상황이... https://www.ytn.co.kr/_ln/0102_202302231544209881
구현모 KT 대표, 연임 도전 포기...다음 달 임기 마무리 2023-02-23 15:17 KT 구현모 대표가 차기 대표이사 후보군에서 사퇴합니다.

구현모 대표는 오늘(23일) KT 이사회에 사퇴 의사를 밝혔고 이사회도 당사자의 결정을 수용해 사내 후보군에서 제외하기로 결정했습니다.

구현모 대표는 올해 3월 임기 만료를 앞두고 연임 의... https://www.ytn.co.kr/_ln/0102_202302231517134994
최태원, '엑스포 유치' 대통령 특사로 유럽 방문 2023-02-23 15:15 최태원 대한상공회의소 회장이 대통령 특사 자격으로 스페인과 포르투갈, 덴마크 등 유럽 3개국을 방문해 2030 부산 엑스포 유치 활동에 나섭니다.

최 회장을 비롯해 SK하이닉스와 삼성전자 임원 등으로 구성된 특사단은 오는 28일부터 다음 달 5일까지 3... https://www.ytn.co.kr/_ln/0102_202302231515243916
김병준 전경련 직무대행 취임..."정경유착 끊을 것" 2023-02-23 14:56 전국경제인연합회가 정기총회를 열고 김병준 전 자유한국당 비대위원장을 회장 직무대행으로 추대했습니다.

김병준 직무대행은 취임 후 기자간담회에서 전경련이 자신에게 일을 맡긴 건 자유민주주의와 시장경제에 대한 소신과 철학 때문일 것이라며 정경... https://www.ytn.co.kr/_ln/0102_202302231456405764
국토부 "월례비, 정상적 임금으로 보기 어렵다"...법원 판결 반박 2023-02-23 14:52 '관행적인 타워크레인 월례비가 임금 성격을 갖는다'는 고등법원 판단에 대해 국토교통부가 "월례비를 정상적 임금으로 보기는 어렵다"고 반박 입장을 내놨습니다.

국토부는 지난 16일 내려진 광주고법 월례비 반환소송 결과에 대해 "법원 판결은 월례비 ... https://www.ytn.co.kr/_ln/0102_202302231452209015
급매 거래 늘자 서울 아파트값 2주 연속 낙폭 둔화 2023-02-23 14:15 한국부동산원은 이번 주 서울 아파트값이 지난주보다 0.26% 하락해 2주 연속 낙폭이 감소했다고 밝혔습니다.

서울 아파트값 하락 폭이 둔화한 것은 최근 정부의 규제 완화 이후 급매물 거래가 늘고, 일부 지역은 매매가도 오른 영향이 큽니다.

서울부... https://www.ytn.co.kr/_ln/0102_202302231415148881
올해 수출 목표치 890조 원..."범정부 역량 결집" 2023-02-23 14:13 정부가 올해 우리나라 수출 목표를 지난 연말 목표치보다 50억 달러 늘어난 6,850억 달러, 우리 돈으로 890조여 원으로 확정했습니다.

산업통상자원부는 오늘(23일) 윤석열 대통령 주재로 열린 제4차 수출전략회의에서 이 같은 범정부 수출 확대 전략을 ... https://www.ytn.co.kr/_ln/0102_202302231413299310
[더뉴스] 올해 금융 트렌드는?..."티끌 모아 스몰 럭셔리" 2023-02-23 14:07 여러분의 올해 집안 살림, 어떻게 전망하시나요?

43%는 올해 가계 재무 상황이 지난해보다 어려워질 거라고 내다봤는데요.

나아질 거란 전망보다 훨씬 높죠.

경제 상황을 ... https://www.ytn.co.kr/_ln/0102_202302231407230453
물가 고공행진에 가계 실질소득 2분기 연속 감소 2023-02-23 13:57 [앵커]
물가 고공행진에 가계의 주머니 사정은 어려워지고 있습니다.

소비자물가를 반영한 실질소득이 지난해 3분기에 이어 4분기에도 줄어들었습니다.

자세한 내용 취재기자... https://www.ytn.co.kr/_ln/0102_202302231357546200
한국은행, 이번엔 기준금리 '동결'...경기 침체 반영 2023-02-23 13:53 [앵커]
한국은행 금융통화위원회가 오랜만에 기준금리를 동결했습니다. 연속 인상 기록 역시 일곱 차례로 마감했는데요.

갈수록 심각해지는 경기 침체 우려를 반영한 것으로 풀... https://www.ytn.co.kr/_ln/0102_202302231353530671
'위니아 05년 9월 이전 김치냉장고' 또 화재주의보 2023-02-23 13:31 [앵커]
위니아가 2005년 9월 이전에 생산한 뚜껑형 김치냉장고에서 지난해 이틀에 하루꼴로 화재가 발생해 정부가 소비자 안전주의보를 발령했습니다.

아직도 4만 7천여 대가 리... https://www.ytn.co.kr/_ln/0102_202302231331558129
금감원장 "은행권 취약차주 부담 완화 적극 노력해야" 2023-02-23 13:29 이복현 금융감독원장이 은행권을 겨냥해 국민과 상생 노력이 크게 부족하다며 취약 차주 부담을 줄이기 위해 적극적으로 노력해달라고 말했습니다.

이 금감원장은 하나은행 본점을 방문해 중소기업 대표와 소상공인, 개인 차주 등과 간담회를 열고 이같이... https://www.ytn.co.kr/_ln/0102_202302231329262337
"인구 감소는 곧 재정위기...저출생 악순환 우려" 2023-02-23 13:28 [앵커]
한국의 출생아 수가 10년 만에 반토막 수준으로 줄었습니다.

인구 감소가 재정 위기로, 이로 인한 세대 갈등이 저출생을 부추기는 악순환이 발생할 거란 우려가 나오고 ... https://www.ytn.co.kr/_ln/0102_202302231328220491
이창용 "불확실성 감안해 동결...인상 기조 끝난 것 아냐" 2023-02-23 13:26 이창용 한국은행 총재는 기준금리를 동결했지만 인상 기조가 끝난 것으로 받아들여서는 안 된다고 강조했습니다.

이 총재는 오늘 금융통화위원회 회의에서 기준금리를 3.5%로 동결한 직후 기자회견을 열어 이같이 밝혔습니다.

이 총재는 지난해 4월 이... https://www.ytn.co.kr/_ln/0102_202302231326108633
편법 증여 등 불법 의심 '아파트 직거래' 무더기 적발 2023-02-23 13:23 [앵커]
정부가 불법 의심 아파트 직거래를 조사한 결과 편법 증여 등 의심 사례 276건을 적발해 국세청 등 관계기관에 통보했습니다.

또 시세를 올릴 목적으로 고가의 허위 거래... https://www.ytn.co.kr/_ln/0102_202302231323530572
물가 고공행진에 가계 실질소득 2분기 연속 감소 2023-02-23 12:03 [앵커]
물가 고공행진에 가계의 주머니 사정은 어려워지고 있습니다.

소비자물가를 반영한 실질소득이 지난해 3분기에 이어 4분기에도 줄어들었습니다.

자세한 내용 취재기자... https://www.ytn.co.kr/_ln/0102_202302231203105663
공정위, '로톡 이용 금지' 변협에 시정명령·과징금 2023-02-23 12:00 대한변호사협회와 서울지방변호사회가 법률 서비스 플랫폼 '로톡' 이용을 막았다가 공정거래위원회 제재를 받게 됐습니다.

공정위는 변협과 서울변회가 소속 변호사들의 로톡 이용을 금지하고 탈퇴를 요구해 정당한 광고 행위를 제한했다며, 각각 과징금 ... https://www.ytn.co.kr/_ln/0102_202302231200138070
고물가 탓 가계 실질소득 2분기 연속 감소 2023-02-23 12:00 고물가 탓에 실질 가구 소득이 두 분기 연속으로 감소했습니다.

통계청은 오늘 가계동향조사 결과 발표를 통해 지난해 4분기 가구당 월평균 소득이 483만 4천 원으로 지난 2021년 같은 분기보다 4.1% 증가했다고 밝혔습니다.

하지만 소비자물가 상승률... https://www.ytn.co.kr/_ln/0102_202302231200195608
지난해 4분기 '연료비·이자 비용' 증가율 역대 최고 2023-02-23 12:00 난방비 지출이 커지며 지난해 4분기 가구당 연료비 지출 증가 폭이 역대 최고를 기록했고, 이자비용도 관련 통계 작성 이후 가장 많이 증가했습니다.

통계청은 오늘 가계동향조사 결과 발표를 통해 지난해 4분기 가구당 전기·가스요금 등 연료비가 8만 7... https://www.ytn.co.kr/_ln/0102_202302231200232052
한국은행, 이번엔 기준금리 '동결'...경기 침체 반영 2023-02-23 11:44 [앵커]
한국은행 금융통화위원회가 오랜만에 기준금리를 동결했습니다.

연속 인상 기록 역시 일곱 차례로 마감했는데요,

갈수록 심각해지는 경기 침체 우려를 반영한 것으로 ... https://www.ytn.co.kr/_ln/0102_202302231144308404
한국은행, 기준금리 현 3.5%로 동결..."상황 점검하며 추가 인상 판단" 2023-02-23 11:29 한국은행이 지난해 2월 이후 처음으로 기준금리를 동결했습니다.

한국은행 금융통화위원회는 오늘 오전 회의 기준금리를 현재 연 3.5%에서 동결하기로 결정했습니다.

이창용 ... https://www.ytn.co.kr/_ln/0102_202302231129415310
한은, 올해 경제 성장률 전망치 1.7% → 1.6% 하향 2023-02-23 11:29 한국은행이 올해 경제 성장률 전망치를 1.6%로 소폭 하향 조정했습니다.

한국은행은 오늘 발표한 수정 경제전망에서 올해 실질 국내총생산, GDP 성장률 전망치를 기존 1.7%에서 1.6%로 낮춰잡았습니다.

이는 코로나19로 마이너스 성장했던 2020년과 글... https://www.ytn.co.kr/_ln/0102_202302231129481881
[뉴스라이브] 한국은행 금통위 기준금리 동결...배경과 전망은? 2023-02-23 11:26 ■ 진행 : 호준석 앵커, 김선영 앵커
■ 출연 : 염승환 이베스트투자증권 이사

* 아래 텍스트는 실제 방송 내용과 차이가 있을 수 있으니 보다 정확한 내용은 방송으로 확인하시... https://www.ytn.co.kr/_ln/0102_202302231126203961
편법 증여 등 불법 의심 '아파트 직거래' 276건 적발 2023-02-23 11:25 국토교통부가 불법 의심 아파트 직거래를 조사한 결과 편법 증여 등 의심 사례 276건을 적발해 국세청 등 관계기관에 통보했습니다.

조사결과 법인 대표의 자녀 A씨는 법인 명의 아파트를 21억 원에 직거래로 사들였는데 법인대표인 부친에게 증여받은 12... https://www.ytn.co.kr/_ln/0102_202302231125168036
[현장영상+] 기준금리 연 3.5% 동결... "물가가 안정되도록 통화정책 운용할 것" 2023-02-23 11:23 [앵커]
한국은행이 기준금리를 현재 연 3.5%에서 동결했습니다.

지난해 4월부터 일곱 차례 연속 금리 인상이 숨 고르기에 들어간 건데요.

이창용 한은 총재가 기자간담회를 ... https://www.ytn.co.kr/_ln/0102_202302231123178729
'툭하면 불' 위니아 노후 김치냉장고 안전주의보 발령 2023-02-23 11:01 위니아 노후 김치냉장고에서 화재가 잇따라 발생함에 따라 정부가 즉시 제품 사용을 중지하고 신속하게 리콜을 받으라고 소비자 안전 주의보를 발령했습니다.

국가기술표준원과 ... https://www.ytn.co.kr/_ln/0102_202302231101270267
한은, 올해 경제 성장률 전망치 1.7% → 1.6% 하향 2023-02-23 10:10 한국은행이 올해 경제 성장률 전망치를 1.6%로 소폭 하향 조정했습니다.

한국은행은 오늘 발표한 수정 경제전망에서 올해 실질 국내총생산, GDP 성장률 전망치를 기존 1.7%에서 1.6%로 낮춰잡았습니다.

이는 코로나19로 마이너스 성장했던 2020년과 글... https://www.ytn.co.kr/_ln/0102_202302231010208272
한국은행, 이번엔 기준금리 '동결'...경기 침체 반영 2023-02-23 10:10 [앵커]
한국은행 금융통화위원회가 오랜만에 기준금리를 동결했습니다.

연속 인상 기록 역시 일곱 차례로 마감했는데요,

갈수록 심각해지는 경기 침체 우려를 반영한 것으로 ... https://www.ytn.co.kr/_ln/0102_202302231010312854

* TEXT로 오는 데이터는 json이 필요없다. [[]], dict등의 방식으로 넣으면 된다.

In [45]:
news_list=[] #데이터 프레임화 하려면 리스트의 리스트화해야 하기 때문에 리스트 정의하고, for문 append로 리스트에 담는다.


for aali in aaul :
    title = aali.select_one('a > div > span').text #제목 뽑아옴 셀렉트와 겹치는 부분 지우고 남긴다.
    regdate = aali.select_one('a > div > div > span.date').text
    contents = aali.select_one('a > div > div > span.desc').text
    href = aali.select_one('a').get('href')
    
    news_list.append([title,regdate,contents,href])
    
print([title,regdate,contents,href])

df = pd.DataFrame(news_list, columns=['title','regdate','contents','herf'])
df

["한국은행, 이번엔 기준금리 '동결'...경기 침체 반영", '2023-02-23 10:10', '[앵커]\r\n한국은행 금융통화위원회가 오랜만에 기준금리를 동결했습니다.\r\n\r\n연속 인상 기록 역시 일곱 차례로 마감했는데요,\r\n\r\n갈수록 심각해지는 경기 침체 우려를 반영한 것으로 ...', 'https://www.ytn.co.kr/_ln/0102_202302231010312854']

,title,regdate,contents,herf
0,"코스피, 기준금리 동결에 0.9% 올라 2,430대 마감",2023-02-23 15:45,한국은행이 기준금리를 동결하자 국내 주식시장의 주가가 큰 폭으로 상승했습니다.\r\...,https://www.ytn.co.kr/_ln/0102_202302231545162091
1,"올리브영, 16일 고객 정보 노출 사고...""시스템 오류""",2023-02-23 15:44,CJ올리브영 시스템 변경 작업 오류로 일부 고객 정보가 노출되는 사고가 발생했습니다...,https://www.ytn.co.kr/_ln/0102_202302231544209881
2,"구현모 KT 대표, 연임 도전 포기...다음 달 임기 마무리",2023-02-23 15:17,KT 구현모 대표가 차기 대표이사 후보군에서 사퇴합니다.\r\n\r\n구현모 대표는...,https://www.ytn.co.kr/_ln/0102_202302231517134994
3,"최태원, '엑스포 유치' 대통령 특사로 유럽 방문",2023-02-23 15:15,"최태원 대한상공회의소 회장이 대통령 특사 자격으로 스페인과 포르투갈, 덴마크 등 유...",https://www.ytn.co.kr/_ln/0102_202302231515243916
4,"김병준 전경련 직무대행 취임...""정경유착 끊을 것""",2023-02-23 14:56,전국경제인연합회가 정기총회를 열고 김병준 전 자유한국당 비대위원장을 회장 직무대행으...,https://www.ytn.co.kr/_ln/0102_202302231456405764
5,"국토부 ""월례비, 정상적 임금으로 보기 어렵다""...법원 판결 반박",2023-02-23 14:52,'관행적인 타워크레인 월례비가 임금 성격을 갖는다'는 고등법원 판단에 대해 국토교통...,https://www.ytn.co.kr/_ln/0102_202302231452209015
6,급매 거래 늘자 서울 아파트값 2주 연속 낙폭 둔화,2023-02-23 14:15,한국부동산원은 이번 주 서울 아파트값이 지난주보다 0.26% 하락해 2주 연속 낙폭...,https://www.ytn.co.kr/_ln/0102_202302231415148881
7,"올해 수출 목표치 890조 원...""범정부 역량 결집""",2023-02-23 14:13,"정부가 올해 우리나라 수출 목표를 지난 연말 목표치보다 50억 달러 늘어난 6,85...",https://www.ytn.co.kr/_ln/0102_202302231413299310
8,"[더뉴스] 올해 금융 트렌드는?...""티끌 모아 스몰 럭셔리""",2023-02-23 14:07,"여러분의 올해 집안 살림, 어떻게 전망하시나요?\r\n\r\n43%는 올해 가계 재...",https://www.ytn.co.kr/_ln/0102_202302231407230453
9,물가 고공행진에 가계 실질소득 2분기 연속 감소,2023-02-23 13:57,[앵커]\r\n물가 고공행진에 가계의 주머니 사정은 어려워지고 있습니다.\r\n\r...,https://www.ytn.co.kr/_ln/0102_202302231357546200
10,"한국은행, 이번엔 기준금리 '동결'...경기 침체 반영",2023-02-23 13:53,[앵커]\r\n한국은행 금융통화위원회가 오랜만에 기준금리를 동결했습니다. 연속 인상...,https://www.ytn.co.kr/_ln/0102_202302231353530671
11,'위니아 05년 9월 이전 김치냉장고' 또 화재주의보,2023-02-23 13:31,[앵커]\r\n위니아가 2005년 9월 이전에 생산한 뚜껑형 김치냉장고에서 지난해 ...,https://www.ytn.co.kr/_ln/0102_202302231331558129
12,"금감원장 ""은행권 취약차주 부담 완화 적극 노력해야""",2023-02-23 13:29,이복현 금융감독원장이 은행권을 겨냥해 국민과 상생 노력이 크게 부족하다며 취약 차주...,https://www.ytn.co.kr/_ln/0102_202302231329262337
13,"""인구 감소는 곧 재정위기...저출생 악순환 우려""",2023-02-23 13:28,[앵커]\r\n한국의 출생아 수가 10년 만에 반토막 수준으로 줄었습니다.\r\n\...,https://www.ytn.co.kr/_ln/0102_202302231328220491
14,"이창용 ""불확실성 감안해 동결...인상 기조 끝난 것 아냐""",2023-02-23 13:26,이창용 한국은행 총재는 기준금리를 동결했지만 인상 기조가 끝난 것으로 받아들여서는 ...,https://www.ytn.co.kr/_ln/0102_202302231326108633
15,편법 증여 등 불법 의심 '아파트 직거래' 무더기 적발,2023-02-23 13:23,[앵커]\r\n정부가 불법 의심 아파트 직거래를 조사한 결과 편법 증여 등 의심 사...,https://www.ytn.co.kr/_ln/0102_202302231323530572
16,물가 고공행진에 가계 실질소득 2분기 연속 감소,2023-02-23 12:03,[앵커]\r\n물가 고공행진에 가계의 주머니 사정은 어려워지고 있습니다.\r\n\r...,https://www.ytn.co.kr/_ln/0102_202302231203105663
17,"공정위, '로톡 이용 금지' 변협에 시정명령·과징금",2023-02-23 12:00,대한변호사협회와 서울지방변호사회가 법률 서비스 플랫폼 '로톡' 이용을 막았다가 공정...,https://www.ytn.co.kr/_ln/0102_202302231200138070
18,고물가 탓 가계 실질소득 2분기 연속 감소,2023-02-23 12:00,고물가 탓에 실질 가구 소득이 두 분기 연속으로 감소했습니다.\r\n\r\n통계청은...,https://www.ytn.co.kr/_ln/0102_202302231200195608
19,지난해 4분기 '연료비·이자 비용' 증가율 역대 최고,2023-02-23 12:00,난방비 지출이 커지며 지난해 4분기 가구당 연료비 지출 증가 폭이 역대 최고를 기록...,https://www.ytn.co.kr/_ln/0102_202302231200232052
20,"한국은행, 이번엔 기준금리 '동결'...경기 침체 반영",2023-02-23 11:44,[앵커]\r\n한국은행 금융통화위원회가 오랜만에 기준금리를 동결했습니다.\r\n\r...,https://www.ytn.co.kr/_ln/0102_202302231144308404
21,"한국은행, 기준금리 현 3.5%로 동결...""상황 점검하며 추가 인상 판단""",2023-02-23 11:29,한국은행이 지난해 2월 이후 처음으로 기준금리를 동결했습니다.\r\n\r\n한국은행...,https://www.ytn.co.kr/_ln/0102_202302231129415310
22,"한은, 올해 경제 성장률 전망치 1.7% → 1.6% 하향",2023-02-23 11:29,한국은행이 올해 경제 성장률 전망치를 1.6%로 소폭 하향 조정했습니다.\r\n\r...,https://www.ytn.co.kr/_ln/0102_202302231129481881
23,[뉴스라이브] 한국은행 금통위 기준금리 동결...배경과 전망은?,2023-02-23 11:26,"■ 진행 : 호준석 앵커, 김선영 앵커 \r\n■ 출연 : 염승환 이베스트투자증권 ...",https://www.ytn.co.kr/_ln/0102_202302231126203961
24,편법 증여 등 불법 의심 '아파트 직거래' 276건 적발,2023-02-23 11:25,국토교통부가 불법 의심 아파트 직거래를 조사한 결과 편법 증여 등 의심 사례 276...,https://www.ytn.co.kr/_ln/0102_202302231125168036
25,"[현장영상+] 기준금리 연 3.5% 동결... ""물가가 안정되도록 통화정책 운용할 것""",2023-02-23 11:23,[앵커]\r\n한국은행이 기준금리를 현재 연 3.5%에서 동결했습니다.\r\n\r\...,https://www.ytn.co.kr/_ln/0102_202302231123178729
26,'툭하면 불' 위니아 노후 김치냉장고 안전주의보 발령,2023-02-23 11:01,위니아 노후 김치냉장고에서 화재가 잇따라 발생함에 따라 정부가 즉시 제품 사용을 중...,https://www.ytn.co.kr/_ln/0102_202302231101270267
27,"한은, 올해 경제 성장률 전망치 1.7% → 1.6% 하향",2023-02-23 10:10,한국은행이 올해 경제 성장률 전망치를 1.6%로 소폭 하향 조정했습니다.\r\n\r...,https://www.ytn.co.kr/_ln/0102_202302231010208272
28,"한국은행, 이번엔 기준금리 '동결'...경기 침체 반영",2023-02-23 10:10,[앵커]\r\n한국은행 금융통화위원회가 오랜만에 기준금리를 동결했습니다.\r\n\r...,https://www.ytn.co.kr/_ln/0102_202302231010312854

# 제주 맛집 실습

1. 이미지 2. 제목 3. 상세로 들어가는 url

In [51]:
res1 = requests.get('https://s.search.naver.com/p/intentblock/search.naver?nlu_query=%7B%22v%22%3A%223%22%2C%22intentblock%22%3A%221%22%2C%22qid%22%3A%22%EC%A0%9C%EC%A3%BC%EB%8F%84%EB%A7%9B%EC%A7%91%22%2C%22abt%22%3A%5B%7B%22eid%22%3A%22SBR1%22%2C%22value%22%3A%7B%22bucket%22%3A%22T4%22%2C%22is_control%22%3Afalse%7D%7D%5D%2C%22matchedAbt%22%3A%5B%7B%22eid%22%3A%22SBR1%22%2C%22value%22%3A%7B%22bucket%22%3A%22T4%22%2C%22is_control%22%3Afalse%7D%7D%5D%7D&query=%EC%A0%9C%EC%A3%BC%EB%8F%84+%EB%A7%9B%EC%A7%91&where=nx_blocks_bridge')

res1.text[:200]

'\n <!DOCTYPE HTML> <html lang="ko"> <head> <meta charset="utf-8"> <meta http-equiv="Content-Script-Type" content="text/javascript"> <meta name="description" lang="ko" content="네이버 스마트블록 "> <meta name="'

In [53]:
soup = BeautifulSoup(res1.text, 'html.parser')

In [82]:
jeju = soup.select('#content > section > div > div.popular_grid_wrap.group_popular_block._au_popular_root > div')

jj_list = []

for jj in jeju :
    title = jj.select_one('a > div > div.dsc_area > div').text
    img = jj.select_one('a > div > div.thumb_area > div.thumb > div > img').get('src')
    url = jj.select_one('a').get('href')
    jj_list.append([title,img,url])
    
   

df = pd.DataFrame(jj_list ,columns=['title','img','herf'])
df

,title,img,herf
0,TV 속 맛집 후기,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...
1,반응 좋은 맛집 후기,https://search.pstatic.net/common/?src=https%3...,https://s.search.naver.com/p/intentblock/searc...
2,맛집 탐방가 리뷰,https://search.pstatic.net/common/?src=https%3...,https://s.search.naver.com/p/intentblock/searc...
3,제주도맛집리스트,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...
4,제주도맛집내돈내산,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...
...,...,...,...
76,제주도백반,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...
77,제주도쌍둥이횟집,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...
78,제주도안덕면맛집,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...
79,제주도 맛집 추천,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...
80,제주도형제도식당,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...

<pre>
for h in df['href'].values:
    res = request.get(h)
    soup = beat(res.text, 'h~')
    ullist = soup.select()
    
    for li in ul)list
</pre>

# DB 연동

In [85]:
import cx_Oracle


#과거 문법 : 비추


with cx_Oracle.connect("ai","0000","localhost:1521/XE") as conn :
    if bool(conn): ##bool : T/F
        print("연결성공")
    else:
        print("연결실패")

연결성공

# read.sql 원형문 ★★★★★★★ (sql을 불러오기)

<pre>

def read_sql(
    <b>sql,
    con,
    index_col: str | list[str] | None = None,</b>
    coerce_float: bool = True,
    params=None,
    <b>parse_dates=None,</b>
    columns: list[str] | None = None,
    chunksize: int | None = None, ) -> DataFrame | Iterator[DataFrame]:

</pre>

In [87]:

conn = cx_Oracle.connect("ai","0000","localhost:1521/XE")
emp = pd.read_sql('select * from emp', conn)
emp.head(1)

conn.close() 
# 반드시 close 해야한다.
# 안닫으면 커넥션 full 된다. 오라클 먹통되니까 윈도우 검색 - 서비스 - oracleXETNSLister, oracleserviceXE 귀 닫고, 몸통 끄기. 살릴 땐 반대로

C:\Users\ASIAE\AppData\Local\Temp\ipykernel_12252\261737188.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  emp = pd.read_sql('select * from emp', conn)

# to sql 문법(프레임을 db로)


    - 기존에 테이블이 없으면 알아서 만들어준다.
    - 기존에 테이블이 있다면? :
                            - 오라클은 에러
                            - 다른 db는 append 속성을 이용해서 추가 가능
<pre>

def to_sql(
        self,
        <b>
        name: str, #테이블이름
        con,
        if_exists: str = "fail",'append', #기존에 있으면 실패 혹은 만약에 기존 테이블이 있으면 append 해라(오라클은 append 불가)
        </b>
        schema: str | None = None,
        index: bool_t = True,
        index_label: IndexLabel = None,
        chunksize: int | None = None,
        dtype: DtypeArg | None = None,
        method: str | None = None,
    )

</pre>

* **더이상 지원하지 않는 기능  --> sqlalchemy로 대체**
    
    - DF 채로 DB에 밀어넣을 때 쓰던 기능
    - cx_Oracle을 사용한 DataFrame.to_sql(conn)

In [89]:
conn = cx_Oracle.connect("ai","0000","localhost:1521/XE")
df.to_sql(name = 'jeju_craw', con = conn)

C:\Users\ASIAE\AppData\Local\Temp\ipykernel_12252\4291352661.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(name = 'jeju_craw', con = conn)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ORA-01036: illegal variable name/number

In [91]:
# ! pip install sqlalchemy

#대체

In [94]:
from sqlalchemy import create_engine

In [96]:
conn = create_engine("oracle+cx_oracle://ai0000@localhost:1521/XE")

# 번외 오라클 파일용량 늘리기

<pre>

DatabaseError: (cx_Oracle.DatabaseError) ORA-01658: unable to create INITIAL extent for segment in tablespace SYSTEM
SELECT * FROM DBA_DATA_FILES;
ALTER DATABASE DATAFILE 'C:\ORACLEXE\APP\ORACLE\ORADATA\XE\SYSTEM.DBF' RESIZE 10000M;
ALTER DATABASE DATAFILE 'C:\ORACLEXE\APP\ORACLE\ORADATA\XE\SYSTEM.DBF' AUTOEXTEND ON MAXSIZE UNLIMITED;

</pre>

In [18]:
aaul = soup.select('div#nav_content > div:nth-child(1) > ul > li') #반복되어진다. (nth-child(1) : ~번째)는 루프 도니까 지운다.
                                                                    #li가 여러개 들어오고, 루프 돌면서 여러번의 li를 뽑는다.

# for 태그명(class) in 뽑아온 데이터
for aali in aaul :
    title = aali.select_one(' a > div > span').text #제목 뽑아옴
    print(title)

코스피, 기준금리 동결에 0.9% 올라 2,430대 마감
올리브영, 16일 고객 정보 노출 사고..."시스템 오류"
구현모 KT 대표, 연임 도전 포기...다음 달 임기 마무리
최태원, '엑스포 유치' 대통령 특사로 유럽 방문
김병준 전경련 직무대행 취임..."정경유착 끊을 것"
국토부 "월례비, 정상적 임금으로 보기 어렵다"...법원 판결 반박
급매 거래 늘자 서울 아파트값 2주 연속 낙폭 둔화
올해 수출 목표치 890조 원..."범정부 역량 결집"
[더뉴스] 올해 금융 트렌드는?..."티끌 모아 스몰 럭셔리"
물가 고공행진에 가계 실질소득 2분기 연속 감소
한국은행, 이번엔 기준금리 '동결'...경기 침체 반영
'위니아 05년 9월 이전 김치냉장고' 또 화재주의보
금감원장 "은행권 취약차주 부담 완화 적극 노력해야"
"인구 감소는 곧 재정위기...저출생 악순환 우려"
이창용 "불확실성 감안해 동결...인상 기조 끝난 것 아냐"
편법 증여 등 불법 의심 '아파트 직거래' 무더기 적발
물가 고공행진에 가계 실질소득 2분기 연속 감소
공정위, '로톡 이용 금지' 변협에 시정명령·과징금
고물가 탓 가계 실질소득 2분기 연속 감소
지난해 4분기 '연료비·이자 비용' 증가율 역대 최고
한국은행, 이번엔 기준금리 '동결'...경기 침체 반영
한국은행, 기준금리 현 3.5%로 동결..."상황 점검하며 추가 인상 판단"
한은, 올해 경제 성장률 전망치 1.7% → 1.6% 하향
[뉴스라이브] 한국은행 금통위 기준금리 동결...배경과 전망은?
편법 증여 등 불법 의심 '아파트 직거래' 276건 적발
[현장영상+] 기준금리 연 3.5% 동결... "물가가 안정되도록 통화정책 운용할 것"
'툭하면 불' 위니아 노후 김치냉장고 안전주의보 발령
한은, 올해 경제 성장률 전망치 1.7% → 1.6% 하향
한국은행, 이번엔 기준금리 '동결'...경기 침체 반영

In [106]:
res = requests.get('https://www.yogiyo.co.kr/mobile/#/')
print(res.status_code)

200

In [11]:
soup = BeautifulSoup(res.text, 'html.parser') #res.text를 객체로

In [ ]:
#root > div > div.sc-gikAfH.kKqmlT.PoiListMain > div.PoiList > ol > li

In [107]:
import requests

url = 'https://www.diningcode.com/'
req = requests.get(url)
print(req.content.decode('utf-8'))

<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
<hr><center>nginx/1.18.0 (Ubuntu)</center>
</body>
</html>